= turbo_stream_from @repository

= render 'shared/repository_details',
  repository: @repository,
  pull_requests: @pull_requests,
  reviews: @reviews,
  ai_models: @ai_models,
  readonly: false,
  back_path: repositories_path,
  pull_request_path_for: ->(pull_request) { pull_request_path(pull_request, repository_id: @repository.id) }
