.my-4.text-xl.font-bold.tracking-tight.text-primary
  | Change your password
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  .flex.flex-col.gap-2
    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token
    = f.input :password,
              label: false,
              placeholder: 'New password',
              required: true,
              autofocus: true,
              input_html: { autocomplete: 'new-password', class: 'w-full' }
    = f.input :password_confirmation,
              label: false,
              placeholder: 'Confirm your new password',
              required: true,
              input_html: { autocomplete: 'new-password', class: 'w-full' }
  .form-actions
    = f.button :submit, 'Change my password', class: 'w-full'

= render 'devise/shared/links'
