label class="swap swap-rotate" for='theme-switch' data-action="click->theme#switch"
  input type="checkbox" id='theme-switch' data-theme-target='checkbox'
  = lucide_icon('sun', class: 'swap-on')
  = lucide_icon('moon', class: 'swap-off')
