---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/app/installations/155385740
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "[AUTHORIZATION]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22fd8fba6c2e9452fd5581a1c90745289d80454c80a12961cd180236e0310b10"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Edge-Region:
      - southeastasia
    body:
      encoding: ASCII-8BIT
      string: '{"id":155385740,"client_id":"Iv23lixVzOiZCNMTPJ94","account":{"login":"MyiTran","id":143374665,"node_id":"U_kgDOCIu5SQ","avatar_url":"https://avatars.githubusercontent.com/u/143374665?v=4","gravatar_id":"","url":"https://api.github.com/users/MyiTran","html_url":"https://github.com/MyiTran","followers_url":"https://api.github.com/users/MyiTran/followers","following_url":"https://api.github.com/users/MyiTran/following{/other_user}","gists_url":"https://api.github.com/users/MyiTran/gists{/gist_id}","starred_url":"https://api.github.com/users/MyiTran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MyiTran/subscriptions","organizations_url":"https://api.github.com/users/MyiTran/orgs","repos_url":"https://api.github.com/users/MyiTran/repos","events_url":"https://api.github.com/users/MyiTran/events{/privacy}","received_events_url":"https://api.github.com/users/MyiTran/received_events","type":"User","user_view_type":"public","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/155385740/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/settings/installations/155385740","app_id":4667914,"app_slug":"ai-review-local-dev","target_id":143374665,"target_type":"User","permissions":{"contents":"read","metadata":"read","pull_requests":"write"},"events":["pull_request","repository"],"created_at":"2026-08-21T07:02:54.000Z","updated_at":"2026-08-21T09:02:05.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
  recorded_at: Sat, 22 Aug 2026 05:27:40 GMT
recorded_with: VCR 6.4.0
