- if params[:pull_request_id].present?
  - back_path = pull_request_path(params[:pull_request_id], repository_id: params[:repository_id])
  - back_text = 'Back to pull request'
- elsif params[:repository_id].present?
  - back_path = repository_path(params[:repository_id])
  - back_text = 'Back to repository'
- else
  - back_path = reviews_path
  - back_text = 'Back to AI reviews'

= turbo_stream_from @review

= render 'shared/review_details',
  review: @review,
  changed_files: @changed_files,
  readonly: false,
  back_path: back_path,
  back_text: back_text,
  repository_path_for: ->(repository) { repository_path(repository) }
