doctype html

html lang="en"
  head
    = render 'layouts/head'

  body
    = render 'shared/flash'

    = render 'shared/sidebar'

    .app-main
      = render 'shared/navbar'

      main.app-content
        = yield